<div class="card mb-2">
  <div class="card-body">
    <p class="card-text">{{comment_text}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    By:
    {{user.name}}
    <span class="d-block"> // Date: {{format_date date_created}}</span>
  </div>
</div>