<div class="comment-card">
  <div>
    <p class="comment-text">{{comment_text}}</p>
  </div>
  <div class="comment-author">
    By:{{user.name}} // Date: {{format_date date_created}}</span>
  </div>
</div>