{{#unless avatars}}
   <h2> Looks like you haven't made any characters yet. Click on "Create Character" and get your imagination flowing! </h2>
{{/unless }}

{{#each avatars as |avatar|}}
   {{> character-display}}
{{/each}}


