<section class="instructions">
    <h1>Greetings, brave souls!</h1>
    <div>
    <p> Are you ready to set foot on an exhilarating journey filled with mystery, challenges, and treasures waiting to be uncovered? Prepare yourselves to explore uncharted territories, solve enigmatic puzzles, and forge unforgettable memories.
But wait, the adventure doesn't start until you take that first step! To begin your epic quest, all you need to do is sign up on our website. Once you're a part of our adventurers' guild, you'll gain access to make your own character.
Are you up for the challenge? Unveil the secrets of distant lands and become a legend in your own right. Join us today and let the adventure begin!
Sign up and make an account, embark on your extraordinary journey.
May the winds of destiny guide you!
Best regards on your adventure,</p>
    </div>
</section>

{{#if characters.length}}
    {{#each characters as |character|}}
        {{> character-display}}
    {{/each}}
{{/if}}
