<section class="instructions">
    <h1>Instructions for the page</h1>
    <p></p>
</section>

{{#if characters.length}}
    {{#each characters as |character|}}
        {{> character-display}}
    {{/each}}
{{/if}}
