<section id="content_id_page">
  <form id="login_box">
    <label for="login_email" class="form-label">Email: <br></label>
    <input type="text" id="login_email" placeholder="Email...">
    <label for="password_input" class="form-label"><br>Password: <br></label>
    <input type="password" id="password_input" placeholder="Password...">
    <button id="login_button">Login</button>
  </form>
  <a href="/signup">Signup Instead</a>
</section>

<script src="./js/login.js"></script>
