<section id="login-section">
  <form id="login-box">
    <label for="login_email" class="form-label">Email: <br></label>
    <input type="text" id="login_email" class="login-credentials" placeholder="Email...">
    <label for="password_input" class="form-label"><br>Password: <br></label>
    <input type="password" id="password_input" class="login-credentials" placeholder="Password...">
    <button id="login-button">Login</button>
  </form>
  <a href="/signup">Signup Instead</a>
</section>

<script src="./js/login.js"></script>
