<section id="content_id_page">
  <form id="signup_form">
    <label for="username_signup" class="form-label">Username: <br></label>
    <input type="text" id="username_signup" placeholder="Username...">
    <label for="email_signup" class="form-label"><br>Email: <br></label>
    <input type="email" id="email_signup" placeholder="Email...">
    <label for="password_signup" class="form-label"><br>Password: <br></label>
    <input type="password" id="password_signup" placeholder="Password...">
    <button type="submit" id="signup_button">Signup</button>
  </form>
  <a href="/login">Login Instead</a>

</section>

<script src="./js/signup.js"></script>
