body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

/* Nav bar */
nav {
  background-color: grey;
  padding: 5px;
}

nav h1 {
  color: navy;
  /* color: rgb(248, 207, 155); */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
}

/* .brand {
  font-style: italic;
  color: rgb(248, 207, 155);
} */

nav li {
  display: inline;
  padding: 2px;
  margin: 12px;
  font-size: 25px;
}

nav ul li a:hover {
  /* background-color: grey; */
  color: orangered;
}

a {
  color: black;
  text-decoration: none;
}

/* Insructions section */
.instructions {
  background-color: antiquewhite;
  color: orangered;
  height: 20%;
}

/* The fit-content below works well for showing the individual characters
but not well for the page with all the characters listed */
section {
  /* display: none; */
  background-color: antiquewhite;
  /* text-align: justify; */
  color: black;
  /* display: block; */
  /* white-space: nowrap; */
  /* flex-direction: column; */
  padding: 10px;
  margin: 10px;
  height: fit-content;
  display: flex;
  align-items: center;
}

.readmore-button {
  /* background-color: grey; */
  border-radius: 2px;
}

.readmore-a {
  color: navy;
}

.across {
  /* display:block; */
  text-align: left;

}

#character {
  width: fit;
  /* height: 300px; */
  background-color: antiquewhite;
  padding: 10px;
  /* margin-top: 10px; */

}

#left {
  float: left;
  width: fit-content;

}

#right {
  /* float: right; */
  /* width: 60%; */
  /* text-align: left; */
  padding: 10px;
}

#img1 {
  height: fit-content;
}

/* --------CSS for Login/Signup-------- */
#login-section {
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-label {
  font-size: 25px;
}

#login-button,
.login-credentials {
  font-size: 20px;
  margin-bottom: 10px;
}

#login-section a {
  font-size: 20px;
  text-decoration: underline;
  color: blue;
}




/* --------CSS for the Slick Sliders-------- */
.slick-prev, .slick-next {
  z-index: 10;
  background-color: black;
  border-radius: 11px;
}

 .slick-prev {
  left: 10px;
}

.slick-next {
  right: 5px;
}

.character-images {
  max-width: 150px;
}

/* home characters img size */
#home-characters img {
  width: 150px;
  /* padding: -10px; */
  margin: 0px;
  background-color: blue;
}

#home-characters {
  padding: 0px;
  margin: 0px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

/* --------CSS for Inventory-------- */
#inventory {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}

#inventory img {
  width: 80px;
  margin: 5px;
  margin-left: 20px;
}

#inventory p {
  width: 80px;
  margin: 5px;
  margin-left: 20px;
}

/* CSS for sliding images */

#section2 #left img {
  height: 150px;
}

/* --------CSS for Comments-------- */

.comment-form {
  padding: 10px;
  margin: 2px;
  background-color: grey;
  font-size: 35px;
  display: flex;
  flex-direction: column;
}

#add-comment {
  max-width: 99%;
  margin: 5px;
  font-size: 20px;
}

#comment-button {
  font-size: 25px;
  padding: 2px;
  margin: 5px;
  width: 100px;
}

.comment-card {
  padding: 5px;
  margin: 2px;
  border: white solid 2px;
  background-color: antiquewhite;
  color: black;
}

.comment-text {
  font-size: 25px;
  white-space: pre;
}

.comment-author {
  font-style: italic;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 5px;
}

/* Character page */
.attributes {
  list-style: none;
}
