<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Character Creator</title>
    </head>

    <body>
        <section id="content_nav_bar">
            <nav id="nav_bar">
                <section id="link_homepage"></section>
                <section id="link_character_creator"></section>
                <section id="link_character_dashboard"></section>
                <section id="link_character_owned"></section>
                <section id="link_login"></section>
            </nav>
        </section>
        <section id="content_handlebars">
            {{{ body }}}
        </section>
    </body>
</html>