<section id="content_select_character">
    <section id="character_box">
        <div id="character_img">

        </div>
    </section>
</section>
<section id="content_select_character_info">
    <div id="character_img">
            
    </div>
    <div id="character_info">
        <p id="character_name">Name: </p>
        <p id="character_race">Race: </p>
        <p id="character_class">Class: </p>
        <p id="character_description">Backstory: </p>        
    </div>
</section>

<!-- 

res.render("/dashboard", { char: "goober"} )

--> 