<section id="content_id_page">
    <div id="login_box">
        <p id="login_username">Username: </p>
        <input type="text" id="username_input" placeholder="Username...">
        <p id="login_password">Password: </p>
        <input type="text" id="password_input" placeholder="Password...">
        <button id="login_button">Login</button>
    </div>
</section>